In [1]:
%cd ..

/home/hsc/Projects/personal/disertation

In [ ]:
import pandas as pd

In [13]:
from src.utils.core import collect_classvars

In [ ]:
from dataclasses import dataclass
from typing import ClassVar


@collect_classvars
@dataclass
class TrainColumns:
    DATASET: ClassVar[str] = "dataset"
    SCENE: ClassVar[str] = "scene"
    IMAGE: ClassVar[str] = "image"
    ROTATION_MATRIX: ClassVar[str] = "rotation_matrix"
    TRANSLATION_VECTOR: ClassVar[str] = "translation_vector"

    @classmethod
    def columns(cls):
        return list(cls.__classvars__.values())


@collect_classvars
@dataclass
class ThreshColumns:
    DATASET: ClassVar[str] = "dataset"
    SCENE: ClassVar[str] = "scene"
    THRESHOLDS: ClassVar[str] = "thresholds"

    @classmethod
    def columns(cls):
        return list(cls.__classvars__.values())

In [36]:
TrainColumns.columns()

['dataset', 'scene', 'image', 'rotation_matrix', 'translation_vector']

In [37]:
ThreshColumns.columns()

['dataset', 'scene', 'thresholds']

In [63]:
from pathlib import Path

In [ ]:
DATA_DIRPATH = Path("data")
TRAIN_CSV_FILEPATH = DATA_DIRPATH / "train_labels.csv"
THRESH_CSV_FILEPATH = DATA_DIRPATH / "train_thresholds.csv"

In [ ]:
train_df = pd.read_csv(
    TRAIN_CSV_FILEPATH,
    header=0,
    names=TrainColumns.columns(),
)
thresh_df = pd.read_csv(
    THRESH_CSV_FILEPATH,
    header=0,
    names=ThreshColumns.columns(),
)

In [ ]:
train_df[train_df[TrainColumns.SCENE] == "cyprus"]

30

In [59]:
thresh_df[thresh_df[TrainColumns.SCENE] == "cyprus"]

             dataset   scene                  thresholds
11  imc2023_heritage  cyprus  0.025;0.05;0.1;0.2;0.5;1.0

In [42]:
thresh_df

,dataset,scene,thresholds
0,amy_gardens,peach,0.01;0.02;0.05;0.1;0.25;0.5
1,ETs,ET,0.002;0.005;0.008;0.01;0.02;0.04
2,ETs,another_ET,0.002;0.005;0.008;0.01;0.02;0.04
3,fbk_vineyard,vineyard_split_1,0.01;0.02;0.05;0.1;0.25;0.5
4,fbk_vineyard,vineyard_split_2,0.01;0.02;0.05;0.1;0.25;0.5
5,fbk_vineyard,vineyard_split_3,0.01;0.02;0.05;0.1;0.25;0.5
6,stairs,stairs_split_1,0.01;0.02;0.05;0.1;0.25;0.5
7,stairs,stairs_split_2,0.01;0.02;0.05;0.1;0.25;0.5
8,imc2023_haiper,bike,0;0;0.001;0.025;0.05;0.1
9,imc2023_haiper,chairs,0;0;0.001;0.025;0.05;0.1
10,imc2023_haiper,fountain,0;0;0.001;0.025;0.05;0.1
11,imc2023_heritage,cyprus,0.025;0.05;0.1;0.2;0.5;1.0
12,imc2023_heritage,dioscuri,0.025;0.05;0.1;0.2;0.5;1.0
13,imc2023_heritage,wall,0.025;0.05;0.1;0.2;0.5;1.0
14,imc2023_theather_imc2024_church,kyiv-puppet-theater,0.025;0.05;0.1;0.2;0.5;1.0
15,imc2023_theather_imc2024_church,church,0.025;0.05;0.1;0.2;0.5;1.0
16,imc2024_dioscuri_baalshamin,dioscuri,0.025;0.05;0.1;0.2;0.5;1.0
17,imc2024_dioscuri_baalshamin,baalshamin,0.025;0.05;0.1;0.2;0.5;1.0
18,imc2024_lizard_pond,lizard,0.025;0.05;0.1;0.2;0.5;1.0
19,imc2024_lizard_pond,pond,0.025;0.05;0.1;0.2;0.5;1.0
20,pt_brandenburg_british_buckingham,brandenburg_gate,0.05;0.1;0.2;0.5;1.0;2.0
21,pt_brandenburg_british_buckingham,british_museum,0.05;0.1;0.2;0.5;1.0;2.0
22,pt_brandenburg_british_buckingham,buckingham_palace,0.05;0.1;0.2;0.5;1.0;2.0
23,pt_piazzasanmarco_grandplace,piazza_san_marco,0.05;0.1;0.2;0.5;1.0;2.0
24,pt_piazzasanmarco_grandplace,grand_place_brussels,0.05;0.1;0.2;0.5;1.0;2.0
25,pt_sacrecoeur_trevi_tajmahal,sacre_coeur,0.05;0.1;0.2;0.5;1.0;2.0
26,pt_sacrecoeur_trevi_tajmahal,trevi_fountain,0.05;0.1;0.2;0.5;1.0;2.0
27,pt_sacrecoeur_trevi_tajmahal,taj_mahal,0.05;0.1;0.2;0.5;1.0;2.0
28,pt_stpeters_stpauls,st_peters_square,0.05;0.1;0.2;0.5;1.0;2.0
29,pt_stpeters_stpauls,st_pauls_cathedral,0.05;0.1;0.2;0.5;1.0;2.0

In [ ]:
len(train_df)

1945

In [ ]:
train_df.groupby(TrainColumns.DATASET).apply(lambda x: len(x))

/tmp/ipykernel_11110/2239000263.py:1: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  train_df.groupby(TrainColumns.DATASET).apply(lambda x:len(x))

dataset
ETs                                   22
amy_gardens                          200
fbk_vineyard                         163
imc2023_haiper                        54
imc2023_heritage                     209
imc2023_theather_imc2024_church       76
imc2024_dioscuri_baalshamin          138
imc2024_lizard_pond                  214
pt_brandenburg_british_buckingham    225
pt_piazzasanmarco_grandplace         168
pt_sacrecoeur_trevi_tajmahal         225
pt_stpeters_stpauls                  200
stairs                                51
dtype: int64

In [50]:
train_df.groupby([TrainColumns.DATASET, TrainColumns.SCENE]).apply(
    lambda x: len(x),
    include_groups=False,
)

dataset                            scene
ETs                                ET                        9
                                   another_ET               10
                                   outliers                  3
amy_gardens                        peach                   200
fbk_vineyard                       vineyard_split_1         43
                                   vineyard_split_2         35
                                   vineyard_split_3         85
imc2023_haiper                     bike                     15
                                   chairs                   16
                                   fountain                 23
imc2023_heritage                   cyprus                   30
                                   dioscuri                 75
                                   outliers                 61
                                   wall                     43
imc2023_theather_imc2024_church    church                   50
                                   kyiv-puppet-theater      26
imc2024_dioscuri_baalshamin        baalshamin               49
                                   dioscuri                 65
                                   outliers                 24
imc2024_lizard_pond                lizard                   90
                                   outliers                 34
                                   pond                     90
pt_brandenburg_british_buckingham  brandenburg_gate         75
                                   british_museum           75
                                   buckingham_palace        75
pt_piazzasanmarco_grandplace       grand_place_brussels    100
                                   piazza_san_marco         68
pt_sacrecoeur_trevi_tajmahal       sacre_coeur              75
                                   taj_mahal                75
                                   trevi_fountain           75
pt_stpeters_stpauls                st_pauls_cathedral      100
                                   st_peters_square        100
stairs                             stairs_split_1           28
                                   stairs_split_2           23
dtype: int64

In [58]:
train_df[train_df[TrainColumns.SCENE] == "outliers"].groupby(
    TrainColumns.DATASET
).apply(len, include_groups=False)

dataset
ETs                             3
imc2023_heritage               61
imc2024_dioscuri_baalshamin    24
imc2024_lizard_pond            34
dtype: int64